<h1>Sign Up</h1>

<%= form_with model: @user, url: sign_up_path do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <% @user.errors.full_messages.each do |message| %>
      <div><%= message %></div>
      <% end %>
    </div>
  <% end %>
  <div class="mb-3">
    <%= f.label :email, class: "form-label" %>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :password, class: "form-label" %>
    <%= f.password_field :password, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :password_confirmation, class: "form-label" %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.submit "Sign Up", class: "btn btn-primary" %>
  </div>
<% end %>